body {
  height: 97vh;
  background-image: url(./image/weather-background.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.container {
  height: 100%;
  width: 100%;
}

.row {
  display: flex
}

.container > .row:nth-child(2) {
  height: 90%
}

.col-1 {
  width: 8%;
}

.col-2 {
  width: 16%;
}

.col-3 {
  width: 24%;
}

.col-4 {
  width: 30%;
}

.col-5 {
  width: 40%;
}

.col-6 {
  width: 48%;
}

.col-7 {
  width: 56%;
}

.col-8 {
  width: 64%;
}

.col-9 {
  width: 72%;
}

.col-10 {
  width: 80%;
}

.col-11 {
  width: 88%;
}

.col-12 {
  width: 96%;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.main {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  justify-items: space-around;
  height: 100%;
  width: 100%;
}

.forecast {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 45%;
  border: 2px solid white;
  box-sizing: border-box;
  margin: 6px;
  padding: 5px;
  background-color: rgba(128, 128, 128, 0.4);
}

.forecast  h3, .forecast  h1 {
  margin-top: 0;
  margin-bottom: 0;
}

.forecast-form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.fc-input {
  text-align: center;
}

.select-input {
  background-color: grey;
}

.fc-button {
  background-color: grey;
  border: 2px solid black;
  font-size: 1.2rem;
  cursor: pointer;
}

.img-margin {
  margin-bottom: 1rem;
}

form > .row {
  margin-top: 10px;
  width: 60%;
  display: flex;
  justify-content: space-around;
}

.hidden {
  display: none;
}

.forecast-card {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  text-align: center;
}

.image-back {
  object-fit: contain;
  height: 100%;
  max-width: 100%;
}

.weather-image {
  object-fit: contain;
  height: 70%;
  max-height: 70%;
  max-width: 100%;
}

.city-image {
  object-fit: contain;
  height: 80%;
  max-height: 80%;
  max-width: 100%;
}

.forecast-card:hover {
  transform: rotateY(180deg)
}

.forecast-card-front, .forecast-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.forecast-card-front  {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.forecast-card-back {
  display:flex;
  justify-content: center;
  align-items: center;
  transform: rotateY(180deg);
}

.spinner {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid chartreuse;
  width: 100px;
  height: 100px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.modal-overlay {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  top: 0;
}

.invalid-modal {
  text-align: center;
  width: 30%;
  height: 30%;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 5px solid cornflowerblue;
}

.help-modal {
  text-align: center;
  width: 70%;
  height: 60%;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 5px solid cornflowerblue;
  padding: 20px;
  font-size: 1.5rem;
}

.modal-button {
  font-size: 1rem;
  background-color: grey;
  border: 2px solid black;
  cursor: pointer;
}

.hidden {
  display: none;
}

@media screen and (max-width: 600px) {

  .forecast {
    height: 30%;
    width: 45%;
  }

  .forecast-form > .row {
    margin-top: 0;
  }
  .forecast > * {
    margin-top: 0;
    margin-bottom: 2px
  }
}

@media screen and (max-width: 1023px) and (min-width: 768px) {
  .forecast {
    height: 30%
  }
}

@media screen and (max-width: 1366px) {
  .forecast-card:active {
  transform: rotateY(180deg)
  }

  .fc-button {
    font-size: 1rem;
    margin: 3px;
    background-color: grey;
    border: 1px solid black;
  }

  .invalid-modal {
    width: 60%;
    height: 50%;
  }
}

@media screen and (min-width: 1024px) {
  .select-input {
    transform: scale(1.5);
  }
}
@media screen and (max-width: 700px) {
  .city-input {
    width: 80%;
  }
  .help-modal  {
    font-size: 1rem;
  }
}
